<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="local project"    value="./output" />
        <add key="local user"       value="%HOME%/nuget-local/" />
        <add key="local machine"    value="/Users/Shared/Projects/nuget-machine/" />
        <add key="nuget.org"        value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <!--
        -->
    </packageSources>
    <!--
        https://docs.microsoft.com/en-us/nuget/consume-packages/package-source-mapping
        Define mappings by adding package patterns beneath the target source.
    -->
    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <!--
        packages restored from "Local Output":
        -->
        <packageSource key="local project">
            <package pattern="HolisticWare.*" />
        </packageSource>
        <packageSource key="local user">
            <package pattern="HolisticWare.*" />
        </packageSource>
        <packageSource key="local machine">
            <package pattern="HolisticWare.*" />
        </packageSource>
        <!--
        packages restored from nuget.org:
            everything else
        -->
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
    <config>
        <!--
        https://learn.microsoft.com/en-us/nuget/reference/nuget-config-file

        <add key="globalPackagesFolder" value="./externals/packages" />
        -->
    </config>
</configuration>
